:root {
  --primary-color: #e5cedc;
  --secondary-color: #b04863;
  --btn-color: #6a3f3e;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap");

body {
  font-family: "Poppins";
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 8px;
}

/* Navbar CSS */

.navbar-color {
  background-color: var(--primary-color) !important;
}

.navbar img {
  width: 72px;
  height: 68px;
  mix-blend-mode: color-burn;
}

.navbar-title {
  font-size: 32px;
  letter-spacing: 5px;
  color: white;
  text-decoration: none;
  margin-left: -4rem;
}

.navbar-section {
  margin-left: 3rem;
  box-sizing: border-box;
}

.navbar-elements {
  display: flex;
  text-align: center;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

.navbar-elements:hover {
  color: var(--secondary-color);
}

.navbar-btn {
  background-color: var(--btn-color);
  color: white;
  border-radius: 40px;
  margin-left: 1rem;
}

/* .navbar-btn:hover {
} */

.Signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 90vh;
}

.form-container {
  background-color: white;
  padding: 2rem 10rem 4rem 10rem;
  margin-bottom: 5rem;
  border-radius: 2rem;
}

.form-section {
  text-align: left;
}
